@media screen and (max-width: 600px) {

    .Alladvertisment {
        margin: 50px 40px 140px 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .hideAds {
        display: none;
    }
    
    .hidden {
        display: none;
    }

    .AdvertismentBox_title {
        height: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .AdvertismentBox_titleText {
        font-size: 14px;
    }
 


  }
@media screen and (min-width: 600px) {

    .Alladvertisment {
        margin: 50px 40px 140px 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .hideAds {
        display: none;
    }
    
    .hidden {
        display: none;
    }

    .AdvertismentBox_title {
        height: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .AdvertismentBox_titleText {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 992px) {
 
}

@media screen and (min-width: 1024px) {
 
}




