
@media screen and (max-width: 600px) {

    .DeleteAdvertisment {
        display: flex;
        width: 40px;
        justify-content: center;
    }
    
    .DeleteAdvertisment_delete {
        cursor: pointer;
    }
    
}


@media screen and (min-width: 600px) {

    .DeleteAdvertisment {
        display: flex;
        width: 15px;
        justify-content: flex-end;
        width: 40px;
        justify-content: center;
    }
    
    .DeleteAdvertisment_delete {
        cursor: pointer;
    }

}

@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 992px) {
 
}

@media screen and (min-width: 1024px) {
 
}