@media screen and (max-width: 600px) {
.Footer {
    height: 250px;
    background: #e9d7cd;
    display: flex;
    flex-direction: column;
    padding: 30px;
    line-height: 1.3;
}

    
.Footer_second {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
}
    
.Footer-taxes {
    text-align: center;
    margin-top: 20px;
}
    
hr {
    border: 0;
    width: 90%;
    color: #555;
    background: #555;
    height: 5px;
}
.table-row1 {
    text-align: center;
  
}
.table-row2 {
    text-align: center;
}
.table-row-head {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}
table {
    border-spacing: 7px;
    padding: 15px;
    font-size: 14px;
    
}
.white {
    color: #e9d7cd;
}
table tr td a {
text-decoration: none ;
color: black;
}


    }
    
    @media screen and (min-width: 600px) {
    .Footer {
        vertical-align: bottom;
    height: 200px;
    background: #e9d7cd;
    display: flex;
    flex-direction: column;
    padding: 40px  0;
    line-height: 1.3;
    }
    
  
    
    .Footer_second {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
    }
    
    
    

    .Footer-taxes {
    text-align: center;
    margin-top: 20px;
    }
    
    hr {
    border: 0;
    width: 90%;
    color: #555;
    background: #555;
    height: 5px;
    }
    .table-row1 {
        text-align: center;
        cursor: pointer;
        
    }
    .table-row2 {
        text-align: center;
        cursor: pointer;
        
    }
    .table-row-head {
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        
        cursor: default;
    }
    table {
        border-spacing: 5px;
        
        width: 100%;
    }
    .white {
        color: #e9d7cd;
        cursor: default;
    }
    table tr td a {
        text-decoration: none ;
        color: black;
        cursor: pointer;
        }
    }
    
    @media screen and (min-width: 768px) {
    .Footer {
    width: 100%;
    }
    
    }
    
    @media screen and (min-width: 992px) {
    
    }
    
    @media screen and (max-width: 1024px) {
        .Footer {
            max-width: 1024px;
            }
    
    }