@media screen and (max-width: 600px) {
.Footer {
    height: 350px;
    background: #e9d7cd;
    display: flex;
    flex-direction: column;
    padding: 30px;
    line-height: 1.3;
}
    
.Footer_first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
    
 .Footer_first-leftBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    }
    
.Footer_first-left {
    flex-direction: column;
    width: 50%;
    padding: 30px;
}
    
.Footer_first-middle {
    flex-direction: column;
    width: 50%;
    padding: 30px;
}
    
.Footer_first-right {
    flex-direction: column;
    
}
    
.Footer_first-rightBox {
    padding: 30px;
 }
    
.Footer_first-title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
 }
    
 .Footer_first-subtitle {
    font-size: 14px;
}
    
.Footer_second {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
}
    
.Footer-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
    
 .Footer-intro {
    font-size: 16px;
    text-align: center;
}
    
 .Footerbox-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
 .Footerbox-middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
 .Footerbox-right {
    width: 25%;
}
    
.Footer-taxes {
    text-align: center;
    margin-top: 20px;
}
    
hr {
    border: 0;
    width: 90%;
    color: #555;
    background: #555;
    height: 5px;
}

    }
    
    @media screen and (min-width: 600px) {
    .Footer {
        vertical-align: bottom;
    height: 200px;
    background: #e9d7cd;
    display: flex;
    flex-direction: column;
    padding: 40px  0;
    line-height: 1.3;
    }
    
    .Footer_first {
    display: flex;
    flex-direction: row;
    }
    
    .Footer_first-leftBox {
    display: flex;
    flex-direction: row;
    width: 66%;
    justify-content: space-around; 
    margin-right: 275px;
    }
    
    .Footer_first-left {
    flex-direction: column;
    width: 33,3%;
    }
    
    .Footer_first-middle {
    flex-direction: column;
    width: 33,3%;
    
    }
    
    .Footer_first-right {
    flex-direction: column;
    width: 33,3%;
    }
    
    
    
    .Footer_first-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    }
    
    .Footer_first-subtitle {
    font-size: 16px;
    }
    
    .Footer_second {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    justify-content: center;
    }
    
    .Footer-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    }
    
    .Footer-intro {
    font-size: 16px;
    text-align: center;
    }
    
    .Footerbox-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .Footerbox-middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .Footerbox-right {
    width: 25%;
    }
    
    .Footer-taxes {
    text-align: center;
    margin-top: 20px;
    }
    
    hr {
    border: 0;
    width: 90%;
    color: #555;
    background: #555;
    height: 5px;
    }
    
    
    }
    
    @media screen and (min-width: 768px) {
    .Footer {
    width: 100%;
    }
    
    }
    
    @media screen and (min-width: 992px) {
    
    }
    
    @media screen and (max-width: 1024px) {
        .Footer {
            max-width: 1024px;
            }
    
    }