@media screen and (max-width: 600px) {

    .Price {
        margin: 20px 10px;
    }

    .Price-price {
        padding: 20px 0;
    }

    .Price-submit {
        margin-top: 15px;
    }

    .Price-input {
        margin: 0 15% 0 15%;
    }
}

@media screen and (min-width: 601px) {

    .Price {
        margin: 20px 10px;
    }

    .Price-price {
        padding: 20px 0;
    }


}

@media screen and (min-width: 768px) {
   
   
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1024px) {



}