

@media screen and (max-width: 600px) {
  .close1 {
    display: none;
}


  .SubNavigation {
    display: flex;
    flex-wrap: wrap;
   
    width: 200%;
    
   
 }
 .Dropdown{
   width: 100%;
 }

 .SubNavigation a {
    padding: 4px 4px;
    text-decoration: none;
}

.mobile { /* så att valen för olika barn produkter hamnar i mitten och blir stylade */
  background: #e9d7cd;
  border: 1px solid black;
  color: black;
text-align: center;
  display: block;
  width:50%;
}
.mobile a { /* samma som */
  text-align: center;
  display: block;
  border: 1px solid black
}
}

@media screen and (min-width: 600px) {
  .SubNavigation  {
     display: flex;
     flex-wrap: wrap;
     margin-top: 30px;

  }

  .Nav_link a {
      padding: 0px;
  }
    

  a {
    padding: 5px;
    text-decoration: none;
  }
  .SubNavigation .Dropdown-Län {
    position: relative;
    display: inline-block;
    padding: 12px 32px;
    background: #e9d7cd;
    margin: -30px 0 0;
    cursor: default;
  } 
  .SubNavigation .Dropdown-Län:hover .Dropdown-content {
    display: block;
    margin-top: 10px;
    margin-left: -30px;
    
  }

  .SubNavigation .Dropdown  {
    position: relative;
    display: inline-block;
    padding: 12px 32px;
    background: #e9d7cd;
    margin: -30px 0 0;
    cursor: default;
  }
  .SubNavigation .Dropdown-content  {
    display: none;
    position: absolute;
    background-color: #e9d7cd9f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
    z-index: 1;
  }
  .SubNavigation .Dropdown-content a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
 .SubNavigation .Dropdown:hover .Dropdown-content {
    display: block;
    margin-top: 10px;
    margin-left: -30px;
  }
  .SubNavigation .Dropdown .Dropdown-content a:hover {
    background: #c7b3a99f ;
  }
}

@media screen and (min-width: 768px) {
  
  a {
    padding: 10px;
    text-decoration: none;
  }
  
}

@media screen and (min-width: 992px) {
 
}

@media screen and (min-width: 1024px) {
  a {
    padding: 10px 15px;
    text-decoration: none;
  
  }
}